<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORM</title>
</head>
<body>
    <form action="" method="post"></form>
    <div>
        <label for="name"> First Name:</label><br>
            <input type="text" name="name">
    </div><br>
    <div>
        <label for="name"> Last Name:</label><br>
            <input type="text" name="name">
    </div><br>
   <div>
        <label for="email"> Email:</label><br>
            <input type="email" name="email">
    </div><br>
    <div>
        <label for="age"> Age:</label><br>
            <input type="number" name="age">
    </div><br>
    <div>
        <label for="career"> Phone number:</label><br>
            <input type="text" name="career">
    </div><br>
    <div>
       <select name="career" id="">
        <option value="">Select career</option>
        <option value="Doctor">Doctor</option>
        <option value="Nurse">Nurse</option>
        <option value="Pharmacist">Pharmacist</option>
        <option value="Software ">Software </option>
       </select>
    </div><br>
    <div>
        <button type="submit">save</button>
    </div>
   
</body>
</html>