<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my Django app</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus, eius nostrum neque optio nesciunt veniam sit voluptatem culpa dicta consequuntur, pariatur et quos dolores delectus quas voluptas. Eum dolorem mollitia nobis laboriosam quas culpa aliquid animi, rem nesciunt deleniti voluptates unde officiis obcaecati fugit ducimus voluptas repudiandae voluptatum praesentium dolor.</p>

    <div>
        <a href="/">Home</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
    </div>
</body>
</html>