<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form</title>
</head>
<body>
    <h1>Registration For Undergraduate Programme</h1>
    <form action="" method="post">
        <div>
            <label for="name"> Name:</label><br>
            <input type="text" name="name">
        </div><br>
        <div>
            <label for="matric_no"> Matriculation number:</label><br>
            <input type="text" name="matric_no">
        </div><br>
        <div>
            <select name="programme" id=""></select>
            <option value="">Select course of study</option>
            <option value="Software engineer">Software engineer</option>
            <option value="cyber security">cyber security</option>
            <option value="computer science">computer science</option>
            <option value="information system ">information system </option>
           </select>
        </div><br>
        <div>
            <label for="dob"> Date of birth:</label><br>
            <input type="date" name="dob">
        </div><br>
        <div>
            <label for="gender"> Male:</label>
            <input type="radio" name="gender">
            <label for="gender"> Female:</label>
            <input type="radio" name="gender">
        </div><br>
        <div>
            <button type="submit">save</button>
        </div>
</body>
</html>