<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>"Welcome to Healing Horizons, where your well-being is our priority. We provide compassionate, personalized therapy to help you navigate life’s challenges and achieve lasting emotional wellness. Let's begin your journey today.</p>
    <div>
        <a href="/">Home</a>
        <a href="contact">Contact</a>
    </div>
</body>
</html>