<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML FORM</title>
</head>
<body>
    <form action="" method="post">
        <div>
            <label for="name"> Name:</label><br>
            <input type="text" name="name">
        </div><br>
        <div>
            <label for="email"> Email:</label><br>
            <input type="email" name="email">
        </div><br>
        <div>
            <label for="age"> Age:</label><br>
            <input type="number" name="age">
        </div><br>
        <div>
            <label for="dob"> Date of birth:</label><br>
            <input type="date" name="dob">
        </div><br>
        <div>
            <label for="gender"> Male:</label>
            <input type="radio" name="gender">
            <label for="gender"> Female:</label>
            <input type="radio" name="gender">
        </div><br>
        <div>
            <input type="checkbox" name="terms">
            <label for="terms"> Click to accept terms and condition</label>
        </div><br>
        <div>
            <button type="submit">Save</button>
        </div>
        <!-- <div>
            <input type="submit" value="Save">
        </div> -->
    </form>
</body>
</html>