<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Contact</h1>
    <p>Contact us today for support or inquiries. Call 09034623425, email muabakosalma@gmail.com, or visit us at New York city. We're here to help you feel safe and secure.</p>
    <div>
        <a href="/">Home</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
    </div>
</body>
</html>